---
import Image from "astro/components/Image.astro";
import ExternalLink from "./svg/ExternalLink.astro";

interface Props {
  title: string;
  date: string;
  description: string;
  imageUrl: string;
  linkUrl: string;
}

const {title, date, description, imageUrl, linkUrl} = Astro.props;
---

<div
  class="group flex flex-col bg-gray-900 border border-purple-900/50 rounded-lg overflow-hidden hover:shadow-lg hover:shadow-purple-900/20 shadow hover:scale-105 duration-300 transition-all">
  <div class="h-52 overflow-hidden">
    <Image
      src={imageUrl}
      alt="BlogImage"
      width="800"
      height="400"
      class="h-full w-full object-cover object-center group-hover:scale-105 transition-transform duration-300"
      loading="lazy"
      draggable="false"
    />
  </div>
  <div class="flex-1 space-y-3 p-5">
    <h3
      class="text-2xl font-semibold leading-tight tracking-tight text-purple-400 mb-2 text-pretty pointer-events-none">
      {title}
    </h3>
    <p class="text-gray-400 text-sm mb-2 pointer-events-none">
      Publicado el {date}
    </p>
    <p
      class="text-gray-300 line-clamp-3 text-md leading-tight mb-2 text-pretty pointer-events-none">
      {description}
    </p>
    <div class="flex space-x-2 p-2">
      <a
        href={linkUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="hover:translate-x-1 inline-flex items-center mt-4 text-purple-400 hover:text-purple-300 underline-offset-4 hover:underline transition-all">
        Leer más
        <ExternalLink class="ml-2 size-4" />
      </a>
    </div>
  </div>
</div>
